<% provide(:title, "#{t('views.edit')} local") %>
<h1><%= t('views.edit') %> local</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@local) do |f| %>
      <%= render "fields", f: f %>
    
      <div class="form-actions">
        <%= f.submit t("views.update"), class: "btn btn-primary" %>
        <%= link_to t("views.cancel"), locais_path, class: "btn btn-mini" %>
      </div>
    <% end %>

  </div>
</div>