<%= provide(:title, @local.descricao) %>
<p>
	<strong>Local:</strong>
	<%= @local.descricao %>
</p>

<div class="form-actions">
  <%= link_to t('views.new'), new_local_path, class: "btn btn-primary" %>
  <%= link_to t('views.edit'), edit_local_path(@local), class: "btn" %>
  <%= link_to t('views.list'), locais_path, class: "btn" %>
</div>
