<%= provide(:title, @classificacao.cdd) %>

<p>
	<strong>Cdd</strong>
	<%= @classificacao.cdd %>
</p>

<p>
	<strong>Descrição</strong>
	<%= @classificacao.descricao %>
</p>

<div class="form-actions">
  <%= link_to "New", new_classificacao_path, class: "btn btn-primary" %>
  <%= link_to "Edit", edit_classificacao_path(@classificacao), class: "btn" %>
  <%= link_to "All", classificacoes_path, class: "btn" %>
</div>


