<%= provide(:title, @classificacao.cdd) %>

<p>
	<strong>Cdd</strong>
	<%= @classificacao.cdd %>
</p>

<p>
	<strong>Descrição</strong>
	<%= @classificacao.descricao %>
</p>

<div class="form-actions">
  <%= link_to t('views.new'), new_classificacao_path, class: "btn btn-primary" %>
  <%= link_to t('views.edit'), edit_classificacao_path(@classificacao), class: "btn" %>
  <%= link_to t('views.list'), classificacoes_path, class: "btn" %>
</div>


