<% provide(:title, 'Autores') %>
<h1><%= t('views.listing') %> autores</h1>

<%= link_to "#{t('views.new')} autor", new_autor_path, class: "btn btn-primary btn-large btn-block"  %>

<%= will_paginate  %>

<table class="table table-condensed table-hover">
	<thead>
		<th>Descrição</th>
		<th>Cutter</th>
		<th colspan="3">Opções</th>
	</thead>
	<tbody>

    <%= render @autores %>
   

	</tbody>
</table>

<%= will_paginate  %>