<%= provide(:title, @autor.descricao) %>
<p>
	<strong>Descrição:</strong>
	<%= @autor.descricao %>
</p>

<p>
	<strong>Cutter:</strong>
	<%= @autor.cutter %>
</p>

<div class="form-actions">
  <%= link_to "New", new_autor_path, class: "btn btn-primary" %>
  <%= link_to "Edit", edit_autor_path(@autor), class: "btn" %>
  <%= link_to "All", autores_path, class: "btn" %>
</div>
