<% provide(:title, "#{t('views.new')} assunto" ) %>
<h1><%= t('views.new') %> assunto</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@assunto) do |f| %>
      <%= render 'fields', f: f %>
  
      <div class="form-actions">
	      <%= f.submit t('views.save') , class: "btn btn-primary" %>
	      <%= link_to t("views.cancel"), assuntos_path, class: "btn btn-mini" %>
      </div>
  
    <% end %>
  </div>
</div>