<%= provide(:title, @assunto.descricao) %>
<p>
	<strong>Descrição:</strong>
	<%= @assunto.descricao %>
</p>

<div class="form-actions">
  <%= link_to "New", new_assunto_path, class: "btn btn-primary"  %>
  <%= link_to "Edit", edit_assunto_path(@assunto), class: "btn"  %>
  <%= link_to "All", assuntos_path, class: "btn" %>
</div>
